span.control img {
    border: 1px solid transparent;
    padding: 5px;
    cursor: hand;
    cursor: pointer;
    vertical-align: middle;
}

span.control img.activated {
    border: 1px inset #eee;
    background-color: #eee;
}

span.control img.grayed {
    opacity: 0.4;
    cursor: default;
}

span.title {
    font-size: large;
    font-weight: bold;
    margin-left: 1em;
}

span.artist {
    font-size: small;
    font-style: italic;
}

body {
    background-color: #fbfbfb;
}

a:link {
    color: #00c;
}

a:visited {
    color: #00c;
}

table#collection_table {
    width: 100%;
}

table#collection_table td {
    padding: 0px;
}

table#collection_table thead td {
    background-color: #eee;
    border: 1px outset #eee;
    font-weight: bold;
    padding: 1px;
}
