body {
    background-color: #fbfbfb;
    margin: 0;
    border: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
    font-family: sans-serif;
    overflow: hidden;
}

#header {
    position: absolute;
    padding: 0px;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    overflow: auto;
    background-color: #f6f5f4;
    border-bottom: 1px solid #999;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
    overflow: hidden;
    background: #f6f5f4;
    border-top: 1px solid #999;
}

#footer-content {
    padding: 1px;
    text-align: right;
    font-size: 72%;
}

#content {
    position: fixed;
    top: 41px;
    left: 0;
    bottom: 17px;
    right: 0;
    overflow-y: scroll;
    padding: 1px;
}

#loading {
    margin: 3em auto 0 auto;
    padding: 0.25em;
    width: 15em;
    background-color: #f3f2aa;
    text-align: center;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

span.control img {
    border: 1px solid transparent;
    padding: 4px;
    margin: 4px 1px;
    cursor: hand;
    cursor: pointer;
    vertical-align: middle;
}

span.control img.activated {
    border-bottom: 1px solid #b6b3b0;
    border-right: 1px solid #b6b3b0;
    border-top: 1px solid #888582;
    border-left: 1px solid #888582;
    background-color: #d6d4d2;
}

span.control img.grayed {
    opacity: 0.4;
    cursor: default;
}

span.title {
    font-size: large;
    font-weight: bold;
}

span.artist {
    font-size: small;
    font-style: italic;
}

a:link {
    color: #00a;
}

a:visited {
    color: #00a;
}

table#collection_table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
}

table#collection_table tr.oddrow {
    background-color: #e6e4e2;
}

table#collection_table td {
    margin: 0;
    padding: 1px 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table#collection_table thead td {
    background-color: #eeecea;
    border: 1px outset #eeecea;
    font-weight: bold;
}
